@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #fff;
}

header {
    width: 100%;
}

h1 {
    font-size: 24px;
    margin: 40px 0 0 77px;
    font-family: 'Inconsolata', monospace;
    letter-spacing: -0.08em;
    color: #333;
    
}

main {
    width: 100%;
    display: flex;
    margin: 0;
    
}


#image-container {
    width: 50%;
    
}


#scarecrow {
    width: 540px;
    height: 450px;
    margin: 265px 0  0 77px;
    
}

#text-container {
    width: 50%;
}

#news-container {
    width: 586px;
    height: 190px;
    margin: 265px 119px 0 119px;

}

h2 {
    font-size: 64px;
    letter-spacing: -0.035em;
    line-height: 95px;
    font-family: 'Space Mono', monospace;
}

#details {
    width: 381px;
    height: 108px;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Space Mono', monospace;
    letter-spacing: -0.035em;
    margin: 36px 323px 0 119px;

}

button {
    width: 216px;
    height: 68px;
    background-color: #333;
    color: #fff;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: -0.035em;
    margin: 64px 484px 0 123px;
}

footer {
    margin : 308px auto 24px;
    text-align: center;

}

#footer-text {
    color: #bdbdbd;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

#footer-text a {
    color: #bdbdbd;
}

#footer-text a:visited {
    color: #000;
}

@media screen and (max-width: 900px) {

    

    h1 {
        margin-top: 20px;
        margin-left: 24px;
    }
    

    #scarecrow {
        width: 287px;
        height: 238px;
        margin: 109px 44px 0;
        
    }

    #news-container {
        width: 350px;
        height: 150px;
        margin: 110px 0 0 24px;
    
    }
    
    h2 {
        font-size: 48px;
        line-height: 71px;
    
    }

    #details {
        width: 328px;
        height: 81px;
        font-size: 18px;
        line-height: 27px;
        margin: 30px 0 0 23px;
    
    }

    button {
        margin: 66px 10px 114px 24px;
    }

    footer {
        margin : 114px auto 24px;
    
    }
}

@media screen and (max-width: 400px) {

    body {
        max-width: 375px;
    }

    h1 {
        margin-top: 20px;
        margin-left: 24px;
    }
    
    main {
        flex-direction: column;
    }

    #scarecrow {
        width: 287px;
        height: 238px;
        margin: 109px 44px 0;
        
    }

    #news-container {
        width: 350px;
        height: 142px;
        margin: 78px 0 0 24px;
    
    }
    
    h2 {
        font-size: 48px;
        line-height: 71px;
    
    }

    #details {
        width: 328px;
        height: 81px;
        font-size: 18px;
        line-height: 27px;
        margin: 30px 0 0 23px;
    
    }

    button {
        margin: 66px 10px 114px 24px;
    }

    footer {
        margin : 114px auto 24px;
    
    }
}